.event-table-block {
    display: flex;
    align-items: center;

}

.event-img {
    max-width: 100px;
    padding-right: 1rem;
}

.event-table-block small {
    color: #f67611
}

.event-table-block p a {
    color: #000;
    font-weight: bold;
}

.progress-circle {
    width: 80px;
    height: 80px;
    line-height: 80px;
    background: none;
    margin: 0;
    box-shadow: none;
    position: relative;
}

.progress-circle:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid #e9ecef;
    position: absolute;
    top: 0;
    left: 0;
}

.progress-circle>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.progress-circle .progress-left {
    left: 0;
}

.progress-circle .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 6px;
    border-style: solid;
    position: absolute;
    top: 0;
}

.progress-circle .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.progress-circle .progress-right {
    right: 0;
}

.progress-circle .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}

.progress-circle .progress-value {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    font-size: 24px;
    color: #44484b;
    line-height: 80px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}

.progress-circle.blue .progress-bar {
    border-color: #049dff;
}

.progress-circle.blue .progress-left .progress-bar {
    animation: loading-2 1.5s linear forwards 1.8s;
}

.progress-circle.yellow .progress-bar {
    border-color: #fdba04;
}

.progress-circle.yellow .progress-left .progress-bar {
    animation: loading-3 1s linear forwards 1.8s;
}

.progress-circle.pink .progress-bar {
    border-color: #ed687c;
}

.progress-circle.pink .progress-left .progress-bar {
    animation: loading-4 0.4s linear forwards 1.8s;
}

.progress-circle.green .progress-bar {
    border-color: #1abc9c;
}

.progress-circle.green .progress-left .progress-bar {
    animation: loading-5 1.2s linear forwards 1.8s;
}

@keyframes loading-1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@keyframes loading-2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}

@keyframes loading-3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@keyframes loading-4 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}

@keyframes loading-5 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}

@media only screen and (max-width: 990px) {
    .progress-circle {
        margin-bottom: 20px;
    }
}

.alert-info {
    color: #fff;
    background-color: #31708f;
    border-color: #31708f;
}

.alert-info a,
.alert-info a:hover {
    color: #f67611;
    text-decoration: underline;
}

.company-logo {
    width: 100px;
}

.upload__img-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}

.upload__img-box {
    width: 200px;
    padding: 0 10px;
    margin-bottom: 12px;
}

.upload__img-close {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: -5px;
    right: -20px;
    text-align: center;
    line-height: 24px;
    z-index: 1;
    cursor: pointer;
    color: #fff;
}

.img-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 100%;
}